Northwind.ClientApp/Connected Services/NorthwindServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Northwind.Entities" />
  <xs:element name="GetShippers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Northwind.Entities" minOccurs="0" name="GetShippersResult" nillable="true" type="q1:ArrayOfShipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>